body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("BGimg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.App{
  height: 100vh;
}
/* landing */
.landing{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 170px;
  width: 100%;
  background-color: #ffffff;
  /* background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px); */
}
.landing-buttons{
  display: flex;
}
.landing-buttons-external{
  display: flex;
}
.landing-sign{
  margin: 4px 4px;
  width:  170px;
  padding: 16px 16px;
  border-radius: 8px;
  margin-top: 16px;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding-top: 12px;
  font-family: 'Segoe UI';
  background-color: #f18232;
  -webkit-box-shadow: 12px 10px 34px -3px rgba(0,0,0,0.83);
-moz-box-shadow: 12px 10px 34px -3px rgba(0,0,0,0.83);
box-shadow: 12px 10px 34px -3px rgba(0,0,0,0.83);

  
}
.btn{
  position: relative;
  font-family: 'Segoe UI';
  margin-top: 8px;
  border-radius: 8px;
  border: none;
  width:  170px;
  padding: 16px 16px;
  font-weight: 600;
  color: #f9f9f9;
  -webkit-box-shadow: 12px 10px 34px -3px rgba(0,0,0,0.83);
-moz-box-shadow: 12px 10px 34px -3px rgba(0,0,0,0.83);
box-shadow: 12px 10px 34px -3px rgba(0,0,0,0.83);

}
.btn:focus{
  outline: none;
}
.btn:hover{
  cursor: pointer;
}
.btn-fb{
  margin-right: 4px;
  background-color: #3A63BF;
}
.btn-g{
  margin-left: 4px;
  background-color: #C94131;
}
#google{
  padding-right: 5px;
  font-size: 18px;
}

/* navbar */

.navbar{
  padding: 20px 10%;
  display: flex;
  font-weight: 600;
  font-size: large;
  justify-content: space-between;
}
.home{
  height: 45px;
  transition:  0.2s ease-in-out;
}
.home:hover{
  transform: translateY(5px);
}
.nav-authenticated{
  display: flex;
}
.logout{
  background: none;
  border: none;
  font-size: 1em;
  margin-top: 18px;
  height: 25px;
  padding: 0 10px;
  color: black;
  font-family: 'Segoe UI';
  font-weight: 600;
}
.new{
  text-decoration: none;
  color: black;
  padding: 0 10px;
  font-weight: 600;
  font-size: 1em;
}
/* sign forms */
.sign-form{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  z-index: 2;
  bottom: 230px;
  padding: 32px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-radius: 8px;
  z-index: 1;
}
.sign-input{
  border:none;
  width: 300px;
  border-radius: 8px;
  padding: 10px 12px;
  margin: 4px;
  filter: blur(0px);
}
.sign-button{
  width: 200px;
  margin: 4px;
  border-radius: 8px;
  border: none;
  padding: 10px 12px;
}

/* create campground */

.create-form{
  background-color: rgba(0, 0, 0, 0.342);  
  backdrop-filter: blur(5px);
  width: 500px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  align-items: center;

}
.create-form h1, .create-form h3{
  text-align: center;
  font-weight: 100;
  color: white;
}
.create-form h3{
  margin: 10px 40px 24px 40px;
  font-size: 16px;
}
.create-input{
  width: 400px;
  font-family: 'Segoe UI';
  border-radius: 8px;
  border: none;
  padding: 10px 12px;
  margin: 4px 10px 4px 10px;
}
.textarea{
  border: none;
}
.create-google{
  width: 500px;
  height: 200px;
}
.create-button{
  margin: 24px 10px 30px 10px;
  padding: 10px 12px;
  width: 170px;
  border-radius: 8px;
  border: none;
}

.create-button:focus, .create-input:focus{
  outline: none;
}

/* camp card */
.card-list{
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.342);  
  backdrop-filter: blur(5px);
  border-radius: 8px;
  margin: auto 10%;
}
.card{
  text-decoration: none;
  width: 250px;
  margin: 25px 20px;
}

.camp-card{
  border-radius: 8px;
  text-decoration: none;
  background-color: #ffffff;
  width: 250px;
}
.card-middle{
  overflow: hidden;
  height: 250px;
}

.card-image{
  filter: brightness(0.8);
  overflow: hidden;
  object-fit: cover;
  position: relative;
  width: 250px;
  height: 250px;
  transition: transform .5s ease-in-out;
}
.card-image:hover{
  transform: scale(1.1);
}
.card-top{
  color: #303030;
  text-decoration: none;
  height: 30px;
  padding-left: 8px;
  padding-top: 5px;
}
.card-title{
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  text-decoration: none;
  color:  white;
  z-index: 2;
  word-break: normal;
  font-size: 22px;
  transform: translateY(-240px);
}
.card-bottom{
  display: flex;
  justify-content: space-between;
}
.card-user{
  color: #303030;
  font-weight: 500;
  text-decoration: none;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 6px;
  padding-bottom: 10px;
}
.card-distance{
  margin-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: #5e5e5e;
  margin-bottom: 6px;
  font-weight: 500;
  text-decoration: none;
}

/* campground page */

.camp-page{
  background-color: rgba(0, 0, 0, 0.342);  
  backdrop-filter: blur(5px);
  border-radius: 8px;
  width: 600px;
  margin: auto auto;
}
.camp-top{
  display: flex;
}
.camp-top-left{
  margin-top: 20px;
  flex-basis: 50%;
  margin-left: 16px;
  color: white;
}
.camp-image{
  border-radius: 8px;
  flex-basis: 50%;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 16px;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  width: 200px;
  height: 200px;
}

.campground-image{
  overflow: hidden;
  position: relative;
  height: 200px;
}

.camp-text{
  margin: 40px 32px 40px 32px;
  text-transform: lowercase;
  color: white;
  font-weight: 100;
  font-size: 16px;
}
.camp-description{

}
.camp-map{
  width: 600px;
  height: 200px;
  padding-bottom: 30px;
}
.camp-field{
  margin-bottom: 0;
  margin-top: 10px;
  color: #d1d1d1;
  font-weight: 100;
}
.camp-title{
  margin-top: 0;
  word-break: break-all;
  text-transform: capitalize;
}
.camp-buttons{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 16px;
  margin-right: 10px;
}
.camp-delete{
  border: none;
  border-radius: 8px;
  padding: 5px 16px;
  color: white;
  background-color: #b33939;
}